# Copyright (c) 2012 Hewlett-Packard Development Company, L.P.

# Common Eclipse project files
.project
.cproject
.pc

# Build products worth keeping between clean builds
sstate-cache/
buildhistory
downloads

# Other build products
*~
BUILD-*/
Makefile
TAGS
autom4te.cache
bitbake.lock
mcf.status
__pycache__/
tmp
patches

# Other checkouts managed by mcf
bitbake
oe-core
meta-oe
meta-webos

# Local override file
webos-local.conf
